main.login-page {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient( to bottom, black , #2a2a2a, black);
}

.login-image {
    padding: 100px 0 80px 0;
    display: flex;
    align-items: center;
}

.login-image img {
    width: 100%;
    height: auto;
    max-width: 650px;
    display: block;
    border: 23px solid #00bfa6;
}

main.login-page section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    font-family: 'League Gothic', sans-serif;
}

main.login-page section h1 {
    font-size: 90px;
    color: #00bfa6;
    margin-bottom: 40px;
    font-weight: normal;
}

main.login-page section form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

main.login-page section label {
    font-size: 28px;
    color: white;
    letter-spacing: 1px;
}

main.login-page section input {
    padding: 14px 18px;

    background-color: transparent;
    border: 2px solid #4f4f4f;

    color: white;
    font-size: 18px;

    outline: none;
    transition: 0.3s;
}

main.login-page section input:focus {
    border-color: #00bfa6;
}

main.login-page section button {
    margin-top: 25px;
    padding: 14px;
    border: 3px solid #00bfa6;
    background-color: transparent;
    color: #00bfa6;
    font-family: 'League Gothic', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

main.login-page section button:hover {
    background-color: #00bfa6;
    color: black;
}

.login-error {
    color: #ff4d4d;
    font-size: 22px;
    margin-bottom: 20px;
}

.login-register {
    margin-top: 25px;

    color: #8f8f8f;
    font-size: 22px;
}

.login-register a {
    color: #00bfa6;
    text-decoration: none;
}

.login-register a:hover {
    text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    main.login-page {
        grid-template-columns: 1fr;
    }

    .login-image {
        order: 1;
        padding: 120px 5% 50px 5%;
    }

    main.login-page section {
        order: 2;
        padding: 50px 8%;
    }

    main.login-page section h1 {
        font-size: 70px;
    }
}